<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrapHelpers/dist/css/bootstrap-formhelpers.min.css" />
    <link rel="stylesheet" href="~/Content/home.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrapHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>


<body>
    <header >
        <nav class="navbar navbar-default">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle  navbar-color" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/index">HotelAlgerie</a>
            </div>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/home/index">@Resources.Labels.Home</a></li>
                    <li><a href="#">@Resources.Labels.Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>@Resources.Labels.SignUp</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>@Resources.Labels.Login</a></li>
                    <li id="liFrLangue" style="display: none"><a href="/home/ChangeLanguage?culture=fr"><span class="bfh-languages" data-language="fr_FR" data-flags="true">FR</span></a></li>
                    <li id="liEnLangue" style="display: none"><a href="/home/ChangeLanguage?culture=en"><span class="bfh-languages" data-language="en_US" data-flags="true">EN</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="jumbotron bg-primary">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <ul class="list-inline">
                        <li>Votre recherche : <strong>@ViewBag.ville</strong> : @ViewBag.dateDebut - @ViewBag.dateFin</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <a id="togModifSearche" href="#" class="be-toggler pull-right togSearche">@Resources.Labels.Modify<span class="glyphicon glyphicon-chevron-down"></span></a>
                    <a id="togCloseSearche" style="display:none" href="#" class="be-toggler pull-right togSearche">@Resources.Labels.Close<span class="glyphicon glyphicon-chevron-up"></span></a>

                </div>
            </div>
            <div id="infoSearche" style="display:none">
                <form role="form" class="form-inline">
                    <div>
                        <input type="text" value="" placeholder="@ViewBag.ville" class="form-control" />
                        <input type="text" class="SearchDate form-control" placeholder="@ViewBag.dateDebut">
                        <input type="text" class="SearchDate form-control" placeholder="@ViewBag.dateFin">
                        <select name="nbrPersonne" class="form-control" onChange='Choix(this.form)'>
                            <OPTION>- @Resources.Labels.SelectNumberOfPerson -</OPTION>
                                <OPTION>1</OPTION>
                                <OPTION>2</OPTION>
                                <OPTION>3</OPTION>
                                <OPTION>4</OPTION>
                                <OPTION>Plus de 4</OPTION>
                        </select>
                        <button class="btn btn-success btn-lg pull-right">@Resources.Labels.Search </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="infoHotel" class="container">
        <div class="jumbotron jumbotron-contenu" style="border: 1px solid #ddd;">

            @RenderBody()
        </div>
    </div>
    <div id="menuLeft">
    </div>
    <footer></footer>
    <script type="text/javascript">
        $(document).ready(function () {

            var CookieParser = document.cookie.split('=');
            var currLanguage = CookieParser[CookieParser.length - 1];
            if (currLanguage == "fr") {
                $("#liFrLangue").hide();
                $("#liEnLangue").show();
            }
            else {
                $("#liFrLangue").show();
                $("#liEnLangue").hide();
            }


        });
        </script>
        <script type="text/javascript">
        $("#togModifSearche").click(function () {
            $("#infoSearche").show();
            $("#togCloseSearche").show();
            $("#togModifSearche").hide();
        });
        $("#togCloseSearche").click(function () {
            $("#infoSearche").hide();
            $("#togCloseSearche").hide();
            $("#togModifSearche").show();
        });
        </script>
        <script type="text/javascript">
         $('.SearchDate').datepicker({
        startDate: '-3d'
        //add more options for language
    })
    </script>
</body>
</html>
